body{
    text-align: center ;
}
.btn{
    width: 200px;
    height: 200px;
   border: 10px solid black;
    margin: 2.5rem;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;;
}
.userflash{
    filter: brightness(1.2);
    box-shadow: 0 0 18px rgba(255,255,255,0.6);
}